:root {
  --pink: #e84343;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  border: none;
  text-decoration: none; 
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.05);
}

.heading span {
  color: var(--pink);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background-color: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(--pink);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: lightgray;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1; /* WARNING : jangan di rubah */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
  text-decoration: none;
}

header .logo span {
  color: var(--pink);
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: black;
  text-decoration: none;
}

header .navbar a:hover {
  color: var(--pink);
}

header .icons a {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--pink);
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url("./images/home-bg.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #333;
}

.home .content span {
  font-size: 3.5rem;
  color: var(--pink);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: black;
  padding: 1rem 0;
  line-height: 1.5;
}

/* Product CSS */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear; 
}

body {
  background: lightgray;
}

/* Styling for desktop view */
.navbar {
    display: flex;
    overflow: hidden;
}

.navbar a {
    margin-right: 20px;
    color: #000;
    text-decoration: none; 
}
 

/* responsive navbar */
@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .navbar.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin-bottom: 10px;
    }

    #toggler {
        display: block;
        cursor: pointer;
    }

    .fa-bars {
        display: block;
    }

    .fa-times {
        display: none;
    }
}

/* Styling for mobile view */
.text-capitalize {
    font-size: 4rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.container .title {
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.container .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.container .products-container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    outline: 0.1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}

.container .products-container .product:hover {
    outline: 0.2rem solid #222;
    outline-offset: 0;
}

.container .products-container .product img {
    height: 25rem;
}

.container .products-container .product:hover img {
    transform: scale(0.9);
}

.container .products-container .product h3 {
    padding: 0.5rem 0;
    font-size: 2rem;
    color: #444;
}

.container .products-container .product:hover h3 {
    color: #27ae60;
}

.container .products-container .product .price {
    font-size: 2rem;
    color: #444;
}

/*Ending  responsive navbar */

.icons {
    display: flex;
}

.icons a {
    margin-right: 10px;
    color: #000;
    text-decoration: none;
}

  /* .imgpreview {
 object-fit: fill;
  width: 100%; 
  height: 100px;
 padding-bottom: 10px;
  border: 1px solid #000;
  background-color: darkgray;
} */

.products-preview {
  position: fixed;
    z-index: 2;
  top: 0;
  left: 0;
  height: 110vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
    /* position: absolute; */
}
 
.products-preview .preview {
  display: none;
   top: -10px;
  padding: 2rem;
  text-align: center;
  background: #fff;
  border-radius: 12px;
  position: relative;
  margin: 1.5rem;
  width: 40rem;
}

.products-preview .preview.active {
  display: inline-block;
}

.products-preview .preview img {
  height: 10rem;
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 4rem;
}

.products-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}

.products-preview .preview h3 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 2.5rem;
}

.products-preview .preview .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.products-preview .preview .stars i {
  color: #27ae60;
}

.products-preview .preview .stars span {
  color: #999;
}

.products-preview .preview p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #777;
}

.products-preview .preview .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #27ae60;
}

.products-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: 0.1rem solid #444;
}

.products-preview .preview .buttons a.cart {
  background: #444;
  color: #fff;
}

.products-preview .preview .buttons a.cart:hover {
  background: #111;
}

.products-preview .preview .buttons a.buy:hover {
  background: #444;
  color: #fff;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-behavior: smooth;
  }
}

@media (max-width: 768px) {
  .products-preview .preview img {
    height: 25rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
    scroll-behavior: smooth;
  }
}

.content-item {
  font-size: 1.5rem;
}

/* Newsletter Section */

.wrap {
  display: flex;
  justify-content: flex-start;
}

.register {
  width: 1150px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  font-size: 1.5rem;
}

.register .imgnewsletter {
  width: 100%;
  height: auto;
  border-radius: 12px;
  padding: 10px;
  object-fit: contain;
}

.register h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.register p {
  font-size: 14px;
  margin-bottom: 20px;
}

.register-list {
  text-align: left;
}

.register input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.register input[type="name"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.register button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.register button[type="submit"]:hover {
  background-color: #45a049;
}

#testimonials{
   z-index: -1;
}

.ourbrand {
  z-index: 0;
}

 .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body svg {
  margin-bottom: 10px;
} 

.card-title{
  font-size: 2rem;
}

.card-text{
  font-size: 2rem;
}

 footer {
     background-color: lightgray;
     padding: 16px;
     text-align: center;
     color: black;
     font-size: 1.5rem;
     line-height: 24px;
 }